<div class="intro">
	<h2 class="page_header">Build Code Together</h2>
	<p>Improve your code review process with realtime technology. Click the button below to get started.</p>
	<a href="/auth/github" class="button the_action_button" title="Login with your Github Account">
	<span class="user icon"></span>Login with Github
	</a>
</div>

<div id="three" class="clearfix">
	<div class="tri">
		<h3>Mark Up Code</h3>
		<img src="static/images/code.png">
		<p>View diffs and chat in one solid interface.</p>
	</div>
	<div class="tri">
		<h3>Chat About Code</h3>
		<img src="static/images/chat.png">
		<p>Send links to lines and talk about your code with reviewers in real time</p>
	</div>
	<div class="tri last">
		<h3>Get Personal</h3>
		<img src="static/images/code.png">
		<p>See whos looking and your code and where they are in the page</p>
	</div>
<div>