<h2>Suggested Repositories</h2>
<p>Check out some of these top repositories on <a href="https://github.com/popular/watched" title="Github top repos">Github</a>.</p>
<br />
<div class="content">
  <ul id="top_project_list">
    <li class="clearfix">
      <img src="https://secure.gravatar.com/avatar/95c8b4070c2ba024f87a8fdca63e9d24?s=140&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-orgs.png" />
      <h3><a href="/projects/joyent/node">node</a></h3>
      <p>evented I/O for v8 javascript</p>
    </li>
    <li class="clearfix">
      <img src="https://secure.gravatar.com/avatar/30f39a09e233e8369dddf6feb4be0308?s=140&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-orgs.png" />
      <h3><a href="/projects/rails/rails">Rails</a></h3>
      <p>Ruby on Rails</p>
    </li>
    <li class="clearfix">
      <img src="https://secure.gravatar.com/avatar/6906f317a4733f4379b06c32229ef02f?s=140&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-orgs.png" />
      <h3><a href="/projects/jquery/jquery">jQuery</a></h3>
      <p>Query JavaScript Library</p>
    </li>
    <li class="clearfix">
      <img src="https://secure.gravatar.com/avatar/ffe68d6f71b225f7661d33f2a8908281?s=140&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png" />
      <h3><a href="/projects/paulirish/html5-boilerplate">HTML5-boilerplate</a></h3>
      <p>starting html/css template. so much goodness baked in by default</p>
      </li>
    <li  class="clearfix">
      <img src="https://secure.gravatar.com/avatar/25ff3dfe48d3847ecf9971aab99589fb?s=140&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png" />
      <h3><a href="/projects/mxcl/homebrew/">Homebrew</a></h3>
      <p>The missing package manager for OS X.</p>
    </li>
    <li  class="clearfix">
      <img src="https://secure.gravatar.com/avatar/fe1b89f510ecef30dd52360ede99165c?s=140&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-orgs.png" />
      <h3><a href="/projects/diaspora/diaspora/">Diaspora</a></h3>
      <p>Distributed and contextual social networking</p>
    </li>
  </ul>
</div>
